COMP-VISION/CSOT_week2_saksham/EuroSAT_ResNet50.pth
COMP-VISION/CSOT_Week3_Saksham/EuroSAT_Build1_FrozenResNet18.pth
COMP-VISION/CSOT_week2_saksham/EuroSAT_resnet34.pth
COMP-VISION/CSOT_Week3_Saksham/EuroSAT_Finetuned_ResNet18.pth
